{% extends 'blog/base.html' %}
{% block main %}
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>EFL بلاگ</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-9">
                        {% for article in page_obj %}
					<article class="blog wow fadeIn">
						<div class="row no-gutters">
							<div class="col-lg-7">
								<figure>
									<a href="blog-post.html"><img src="{{article.Image.url}}" alt="">
										<div class="preview"><span>بیشتر بخوانید</span></div>
									</a>
								</figure>
							</div>
							<div class="col-lg-5">
								<div class="post_info">
									<small>{{article.Published}}</small>
									<h3><a href="blog-post.html">{{article.Title}}</a></h3>
									<p>{{article.descraption | linebreaks | truncatewords:25}}</p>
									<ul>
										<li>
											<div class="thumb"><img src="http://via.placeholder.com/80x80/ccc/fff/thumb_blog.jpg" alt=""></div>{{article.Writer_Name}}
										</li>
										<li><i class="icon_comment_alt"></i> 20</li>
									</ul>
								</div>
							</div>
						</div>
					</article>
					<!-- /article -->
                        {% endfor %}
					<nav aria-label="...">
						<ul class="pagination pagination-sm">
						    {% if page_obj.has_previous %}
							<li class="page-item ">
								<a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">قبلی</a>
							</li>
							{% endif %}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.number }}</a></li>
							{% if page_obj.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
							</li>
							{% endif %}
						</ul>
					</nav>
					<!-- /pagination -->
				</div>
				<!-- /col -->

				<aside class="col-lg-3">
					<div class="widget">
						<form>
							<div class="form-group">
								<input type="text" name="search" id="search" class="form-control" placeholder="جستجو...">
							</div>
							<button type="submit" id="submit" class="btn_1 rounded"> جستجو</button>
						</form>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>پست های اخیر</h4>
						</div>
						<ul class="comments-list">
						    {% for article in Article_2 %}      
							<li>
								<div class="alignleft">
									<a href="#0"><img src="{{article.Image.url}}" alt=""></a>
								</div>
								<small>{{article.Published}}</small>
								<h3><a href="#" title="">{{article.Title}}</a></h3>
							</li>
							{% endfor %}	
						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Blog Categories</h4>
						</div> {% for cat in Category %}
						<ul class="cats">                      
							<li><a href="#">{{ cat.Title }} ({{cat.posts_count }})</span></a></li>
						</ul>  {% endfor %}                                
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>لورم ایپسوم متن ساختگی با چاپ</h4>
						</div>
						<div class="tags">
							<a href="#">اطلاعات در باره تکنولوژی</a>
							<a href="#">دانش آموزان</a>
							<a href="#">کیفیت</a>
							<a href="#">معماری</a>
							<a href="#">ادبیات</a>
							<a href="#">علوم</a>
						</div>
					</div>
					<!-- /widget -->
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
{% endblock main %}